@import "../../static/style/basic.scss";

.Splash {
  margin-top: 20px;
  padding: 10px;
  .SectionOne {
    display: flex;
    background-color: $color-light;
    padding: 10px;
    border-radius: $dimen-rounded-low;

    .Description {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      padding: 5px;
      color: darken($color-grey, 5);
      @media only screen and (max-width: 992px) {
      }

      .Title {
        color: $color-primary;
        font-weight: bold;
        margin: 0;
        @media only screen and (max-width: 992px) {
          font-size: 1.2rem;
        }
      }

      .Paragraph {
        text-align: justify;
        font-size: 1.1rem;
        line-height: 25px;
        @media only screen and (max-width: 992px) {
          line-height: 20px;
          font-size: 1rem;
          // text-overflow: ellipsis;
          // overflow: hidden;
          // white-space: nowrap;
        }
      }
    }
  }

  .SectionTwo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: 992px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .SectionThree {
    display: flex;
    align-items: center;
    @media only screen and (max-width: 992px) {
      display: none;
    }
  }

  .SectionFour {
    display: flex;
    @media only screen and (max-width: 992px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .SectionFive {
    display: flex;
    background-color: $color-light;
    width: 100%;
    height: 300px;
    margin: 20px 0;
    border-radius: $dimen-rounded-low;
    overflow: hidden;
    @media only screen and (max-width: 992px) {
      height: 200px;
    }
    .BoxImage {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30%;

      .Image {
        height: 200px;
        @media only screen and (max-width: 992px) {
          height: 120px;
        }
      }
    }

    .Description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 70%;
      padding: 0 15px;
      background-color:lighten( $color-primary, 30);
      text-align: center;

      .Title {
        color: $color-light;
        font-weight: bold;
        margin: 0;
        @media only screen and (max-width: 992px) {
          font-size: 1.2rem;
        }
      }

      .Paragraph {
        text-align: justify;
        font-size: 1.2rem;
        line-height: 30px;
        @media only screen and (max-width: 992px) {
          line-height: 15px;
          font-size: 1rem;
          // text-overflow: ellipsis;
          // overflow: hidden;
          // white-space: nowrap;
        }
      }

      .Button {
        border: none;
        background-color: $color-primary;
        color: $color-light;
        padding: 15px 50px;
        cursor: pointer;
        border-radius: $dimen-rounded-low;
        @media only screen and (max-width: 992px) {
          width: initial;
          padding: 10px;
        }
      }
    }
  }
}
