@import "../../static/style/basic.scss";

.Splash {
  margin-top: 20px;
  .SectionOne {
    display: flex;
    background-color: $color-light;
    padding: 10px;
    border-radius: $dimen-rounded-low;

    .BoxImage {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30%;

      .Image {
        height: 200px;
        @media only screen and (max-width: 992px) {
          height: 120px;
        }
      }
    }

    .Description {
      width: 70%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      @media only screen and (max-width: 992px) {
      }

      .Title {
        color: $color-deep-orange;
        @media only screen and (max-width: 992px) {
          font-size: 1.2rem;
        }
      }

      .Paragraph {
        text-align: justify;
        font-size: 1.2rem;
        line-height: 30px;
        @media only screen and (max-width: 992px) {
          line-height: 20px;
          font-size: 1rem;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }

      .Button {
        border: none;
        background-color: $color-primary;
        color: $color-light;
        padding: 10px 25px;
        cursor: pointer;
        border-radius: $dimen-rounded-low;
        @media only screen and (max-width: 992px) {
          width: initial;
          padding: 10px;
        }
      }
    }
  }

  .SectionTwo {
    display: flex;
    align-items: center;
  }

  .SectionThree {
  }

  .SectionFour {
  }

  .SectionFive {
    display: flex;
    background-color: $color-light;
    width: 100%;
    height: 300px;
    margin: 20px 0;
    border-radius: $dimen-rounded-low;
    overflow: hidden;
    @media only screen and (max-width: 992px) {
      height: 250px;
    }
    .BoxImage {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30%;

      .Image {
        height: 200px;
        @media only screen and (max-width: 992px) {
          height: 120px;
        }
      }
    }

    .Description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 70%;
      padding: 0 10px;
      background-color: $color-accent;
      text-align: center;

      .Title {
        color: $color-deep-orange;
        @media only screen and (max-width: 992px) {
          font-size: 1.2rem;
        }
      }

      .Paragraph {
        text-align: justify;
        font-size: 1.2rem;
        line-height: 30px;
        @media only screen and (max-width: 992px) {
          line-height: 20px;
          font-size: 1rem;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }

      .Button {
        border: none;
        background-color: $color-dark;
        color: $color-light;
        width: 250px;
        padding: 15px;
        cursor: pointer;
        border-radius: $dimen-rounded-low;
        @media only screen and (max-width: 992px) {
          width: initial;
          padding: 10px;
        }
      }
    }
  }
}
