@import "src/app/static/style/basic";

.CartBoxHeader {
  display: flex;
  position: relative;
  left: -250px;
 
  @media only screen and (max-width: 992px) {
    padding: 0 8px;
    left: -50px;
  }
  @media only screen and (max-width: 1024px) {
    padding: 0 8px;
    left: -70px;
  }
  
  .IconCart {
    font-size: 2.5rem;
    font-weight: bold;
    color: blueviolet;
  }

  .CartCount {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #FFFFFF;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-weight: bold;
    position: absolute;
    left: -5px;
    top: -10px;
    
  }
}