@import "src/app/static/style/basic";

.DiscountProduct {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  width: 100%;
  height: 300px;
  background-color: $color-light;
  border-radius: $dimen-rounded-low;
  .ImageBox {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .Image {
      height: 150px;
    }
  }

  .DescriptionBox {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    .Title {
      color: $color-orange;
    }

    .description {
      margin-top: -5px;
      font-size: 2rem;
      font-weight: bold;
    }

    .Button {
      border: none;
      cursor: pointer;
      background-color: $color-dark;
      color: $color-light;
      padding: 10px 20px;
      border-radius: $dimen-rounded-low;
    }
  }

}