// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Colors ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //


$color-primary: #5C4DB1;
$color-secondary: #E6EEFB;
$color-accent: #EEE8AA;

$color-light: #FFFFFF;
$color-dark: #222222;

$color-red: #f44336;
$color-pink: #E91E63;
$color-purple: #9C27B0;
$color-deep-purple: #673AB7;
$color-indigo: #3F51B5;
$color-blue: #2196F3;
$color-light-blue: #03A9F4;
$color-cyan: #00BCD4;
$color-teal: #009688;
$color-green: #4CAF50;
$color-light-green: #8BC34A;
$color-lime: #CDDC39;
$color-yellow: #FFEB3B;
$color-amber: #FFC107;
$color-orange: #FF9800;
$color-deep-orange: #FF5722;
$color-brown: #795548;
$color-grey: #9E9E9E;
$color-blue-grey: #607D8B;
$color-gold:#FFD700;
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Colors ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Dimensions ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //

$dimen-font-size: 12px;
$dimen-rounded-low:5px;
$dimen-rounded-middle:20px;
$dimen-rounded-high:50%;

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Dimensions ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //