@import "src/app/static/style/basic";

.ServicesUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: $color-light;
  border-radius: $dimen-rounded-low;
  padding: 5px;
  margin-top: 20px;
  margin-right: 5px;
  
  .Icon {
    font-size: 4rem;
    color: $color-primary;
  }
  .Title {
    margin-top: -5px;
    color: $color-primary;
    font-weight: bold;
  }
  .Paragraph {
    margin-top: -3px;
font-size: 10px;
  }

}
:first-child{
  margin-right: 0;
}


