@import "src/app/static/style/basic";

.NavigationMobile {
  display: none;

  
  @media only screen and (max-width: 992px) {
    display: flex;
    z-index: 2;
    .Hamburger {
      font-size: 3rem;
      color: blueviolet;
      cursor: pointer;
    }
  }
}