@import "src/app/static/style/basic";


.Container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background: $color-light;
  box-shadow: rgba($color-dark, 0.3) 0 10px 20px 0;
  border-radius: $dimen-rounded-low;
  margin: 20px 0;

  .Product {
    display: flex;
    align-items: center;
    border: 2px solid #eee;
    margin-bottom: 20px;
    border-radius: $dimen-rounded-low;
  }

  .Trash {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2.5rem;
    color: darken($color-yellow, 30);
  }

  .Image {
    height: 130px;
    margin: 10px;
  }


  .Body {
    flex-grow: 1;

    .Title {
      padding: 5px;
      border-radius: $dimen-rounded-low;
      color: $color-green;
      font-size: 1.8rem;
    }

    .BoxPrice {
      display: flex;
      align-items: center;

      .Price {
        font-size: 1.5rem;
        margin-left: 5px;
      }

      .Text {
        font-size: 1.2rem;
        color: $color-green;
        padding: 5px;
      }

    }

    .BoxColor {
      display: flex;
      align-items: center;

      .Color {
        border-radius: $dimen-rounded-high;
        margin-right: 10px;
        width: 30px;
        height: 30px;
      }

      .Text {
        font-size: 1.2rem;
        color: $color-green;
        padding: 5px;
      }
    }

    .PlusMines {
      display: inline-flex;
      align-items: center;
      margin: 10px;
      text-align: center;

      .Plus {
        display: flex;
        justify-content: center;
        padding: 5px 10px;
        cursor: pointer;
        border: none;
        border-radius: $dimen-rounded-low;
        font-size: 1.5rem;
        color: $color-green;
        background-color: transparent;
        box-shadow: rgba($color-dark, 0.3) 0 5px 10px 0;

      }

      .Quantity {
        width: 30px;
        font-size: 1.5rem;
      }

      .Mines {
        display: flex;
        justify-content: center;
        padding: 5px 10px;
        cursor: pointer;
        border: none;
        border-radius: $dimen-rounded-low;
        font-size: 1.5rem;
        color: $color-green;
        background-color: transparent;
        box-shadow: rgba($color-dark, 0.3) 0 5px 10px 0;
      }
    }
  }
  .Empty{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .textEmpty{
      font-size: 1.5rem;
    }
    .IconEmpty{
      font-size: 80px;
    }
  }
}