@import "src/app/static/style/basic";

.Product {
  display: flex;
  padding: 10px 0;
  @media only screen and (max-width: 992px) {
    flex-direction: column;
    padding: 10px 10px;
  }

  .productCenter {
    display: grid;
    grid-template-columns: 180px 180px 180px;
    grid-column-gap: 50px;
    grid-row-gap: 10px;
    position: relative;

    @media only screen and (max-width: 992px) {
      display: flex;
      grid-column-gap: 30px !important;
      flex-direction: column;
      justify-content: center;
    }
  }
  .filters {
    width: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }

}

@media only screen and (max-width: 1024) {
  .productCenter {
    display: grid;
    grid-template-columns: 180px 180px 180px;
    grid-column-gap: 30px;
    position: relative;
  }
}
