@import "src/app/static/style/basic";

.BasicLayout {
  background-color: $color-secondary;

  .Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px 0;
    padding: 5px 5px;
    background-color: $color-light;
    position: relative;

    @media only screen and (max-width: 998px) {
      padding: 0 5px;

    }

    .Left {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .BoxCart {
      display: flex;
      justify-content: center;
    }

    .BoxLogo {
      text-align: left;

      .Logo {
        cursor: pointer;
        height: 50px;
      }
    }

  }

  .Main {

  }

  .Footer {

  }

}

