@import "src/app/static/style/basic";

.ProductDetails {
  display: flex;
  align-items: center;
  margin: 20px 0;
  width: 100%;
  height: 400px;
  background: $color-light;
  box-shadow: rgba($color-dark, 0.3) 0 10px 20px 0;
  border-radius: $dimen-rounded-low;
  @media only screen and (max-width: 992px) {
    flex-direction: column;
  }

  .ImageBox {
    display: flex;
    justify-content: center;
    width: 50%;

    .Image {
      height: 250px;
      @media only screen and (max-width: 992px) {
        height: 200px;
      }
    }
  }

  .Body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    @media only screen and (max-width: 992px) {
    align-items: center;
    }

    .Title {
      width: 300px;
      text-align: center;
      padding: 5px;
      box-shadow: rgba($color-dark, 0.3) 0 5px 15px 0;
      border-radius: $dimen-rounded-low;
      color: $color-green;
      font-size: 1.8rem;
      @media only screen and (max-width: 992px) {
        font-size: 1.3rem;
        width: 250px;
      }
    }

    .BoxPrice {
      display: flex;
      align-items: center;

      .Price {
        text-align: center;
        border-radius: $dimen-rounded-low;
        display: inline-block;
        padding: 5px;
        margin-right: 10px;
        width: 100px;
        color: lighten($color-dark, 30);
        font-size: 1.5rem;
        box-shadow: rgba($color-dark, 0.3) 0 5px 15px 0;
      }

      .Text {
        font-size: 1.2rem;
        border-radius: $dimen-rounded-low;
        text-align: center;
        display: inline-block;
        color: $color-green;
        padding: 5px;
        box-shadow: rgba($color-dark, 0.3) 0 5px 15px 0;
        width: 70px;
      }

    }

    .BoxColor {
      display: flex;
      align-items: center;
      .Color {
        text-align: center;
        border-radius: $dimen-rounded-low;
        display: inline-block;
        padding: 5px;
        margin-right: 10px;
        width: 100px;
        color: lighten($color-dark, 30);
        font-size: 1.5rem;
        box-shadow: rgba($color-dark, 0.3) 0 5px 15px 0;
      }

      .Text {
        font-size: 1.2rem;
        border-radius: $dimen-rounded-low;
        text-align: center;
        display: inline-block;
        color: $color-green;
        padding: 5px;
        box-shadow: rgba($color-dark, 0.3) 0 5px 15px 0;
        width: 70px;
      }
    }

    .Control {
      .AddToCart {
        padding: 10px;
        text-align: center;
        color: $color-green;
        width: 90%;
        border: none;
        background-color: transparent;
        box-shadow: rgba($color-dark, 0.3) 0 5px 15px 0;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        border-radius: $dimen-rounded-middle;
        @media only screen and (max-width: 992px) {
          border-radius: $dimen-rounded-low;
          width: 150px;
        }
        .IconCart {
          position: absolute;
          top: 7px;
          margin-right: -190px;
          font-size: 1.8rem;
          transition: 0.5s linear;
        }

        &:hover {
          .IconCart {
            position: absolute;
            top: 7px;
            margin-right: -50px;
            font-size: 1.8rem;

          }
        }


        .TextCart {
          font-weight: bold;
          font-size: 1.2rem;
        }
      }
    }

    .PlusMines {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      height: 50px;
      width: 90%;
      text-align: center;
      @media only screen and (max-width: 992px) {
        margin-top: initial;
      }
      .Plus {
        display: flex;
        justify-content: center;
        padding: 10px;
        cursor: pointer;
        border: none;
        width: 100px;
        border-radius: $dimen-rounded-low;
        font-size: 1.5rem;
        color: $color-green;
        background-color: transparent;
        box-shadow: rgba($color-dark, 0.3) 0 5px 10px 0;
        @media only screen and (max-width: 992px) {
          width: 50px;
          padding: 5px;
        }
      }

      .Quantity {
        width: 50px;
        font-size: 1.5rem;
      }

      .Mines {
        display: flex;
        justify-content: center;
        padding: 10px;
        cursor: pointer;
        border: none;
        width: 100px;
        border-radius: $dimen-rounded-low;
        font-size: 1.5rem;
        color: $color-green;
        background-color: transparent;
        box-shadow: rgba($color-dark, 0.3) 0 5px 10px 0;
        @media only screen and (max-width: 992px) {
          width: 50px;
          padding: 5px;
        }
      }
    }
  }
}