@import "src/app/static/style/basic";

.ProductList {
  height: 280px;
  width: 100%;
  background-color: $color-light;
  margin: 10px 0;
  border-radius: $dimen-rounded-low;
  @media only screen and (max-width: 992px) {
    height: 250px;
  }

  .Header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .ImageBox {
      margin-top: 20px;
      @media only screen and (max-width: 992px) {
        margin-top: initial;
      }

      .Image {
        height: 130px;
      }
    }

    .Control {
      position: absolute;
      top: 5px;
      right: 5px;
      display: flex;
      align-items: center;

      .Like {
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
      }

      .Bookmark {
        font-size: 1.5rem;
        border: none;
        background-color: transparent;
      }
    }
  }

  .Body {
    display: flex;
    align-items: center;
    flex-direction: column;

    .Title {
      color: darken($color-grey, 20);
      font-weight: bold;
    }

    .Rating {
      margin: 0;
      padding: 0;
      @media only screen and (max-width: 992px) {
        margin: 0;
        height: 35px;
      }
    }

    .Price {
      color: $color-primary;
      font-weight: bold;
      @media only screen and (max-width: 992px) {
        margin-top: initial;
      }
    }

    .button {
      margin-top: 20px;
      border-radius: $dimen-rounded-low;
      padding: 10px 25px;
      border: none;
      background-color: lighten($color-primary, 10);
      color: $color-light;
      @media only screen and (max-width: 992px) {
        margin-top: 10px;
      }
      &:hover {
        background-color: $color-deep-orange;
        color: $color-light;
      }
    }
  }
}
