@import "src/app/static/style/basic";

  .Items {
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 992px) {
      flex-direction: column;
      align-items: center;
      position: absolute;
      width: 100%;
      background-color: lighten($color-dark, 10);
      top: 41px;
      right: 0;
      padding: 0;
      border-top: 3px solid $color-yellow;
      z-index: 2;
    }

    .Item {
      list-style: none;
     padding: 10px;

      .Link {
        font-size: 1.2rem;
        color: $color-dark;
        text-decoration: none;
        @media only screen and (max-width: 992px) {
          color: $color-light;
        }

        &:hover {
          color: $color-primary;
        }
      }
    }
  }

