@import "src/app/static/style/basic";

.FooterNavigation {
  display: flex;
  text-align: center;

  .Navigation {
    text-align: center;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @media only screen and (max-width: 992px) {
      padding-top: initial;
    }


    .Items {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;

      .Title {
        font-weight: bold;
        color: $color-light;
        @media only screen and (max-width: 992px) {
          font-weight: bold;
          font-size: 0.8rem;
        }
      }

      .Item {
        list-style: none;
        padding: 10px;
        @media only screen and (max-width: 992px) {
          padding: 5px;
        }

        .Link {
          text-decoration: none;
          color: $color-grey;
          font-size: 1.2rem;
          @media only screen and (max-width: 992px) {
            font-size: 0.8rem;
          }

          &:hover {
            color: $color-light;
          }
        }
      }
    }
  }
}
